<h1>Listing forumthreads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Post private</th>
      <th>Creation date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forumthreads.each do |forumthread| %>
      <tr>
        <td><%= forumthread.title %></td>
        <td><%= forumthread.body %></td>
        <td><%= forumthread.post_private %></td>
        <td><%= forumthread.creation_date %></td>
        <td><%= link_to 'Show', forumthread %></td>
        <td><%= link_to 'Edit', edit_forumthread_path(forumthread) %></td>
        <td><%= link_to 'Destroy', forumthread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forumthread', new_forumthread_path %>
