<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forumthread.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @forumthread.body %>
</p>

<p>
  <strong>Post private:</strong>
  <%= @forumthread.post_private %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @forumthread.creation_date %>
</p>

<%= link_to 'Edit', edit_forumthread_path(@forumthread) %> |
<%= link_to 'Back', forumthreads_path %>
