<p id="notice"><%= notice %></p>

<p>
  <strong>Colaborator status:</strong>
  <%= @forum.colaborator_status %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @forum.stars %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @forum.reviews %>
</p>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
